<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.autoparts.buyers"
          android:versionCode="5"
          android:versionName="1.22">

    <uses-sdk android:minSdkVersion="11"/>

    <permission
            android:name="com.autoparts.buyers.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/>

    <application android:theme="@style/AppTheme"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:name=".application.MyApplication">
        <activity android:label="@string/app_name"
                  android:name=".activity.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.SplashActivity" android:screenOrientation="portrait" />-->

        <activity android:name=".activity.MainDrawerActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.UserLoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.UserLoginInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.UserAgreementActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.CommonListActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.CommonLetterListActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.UserMessageActivity" android:screenOrientation="portrait"  />

        <activity android:name=".activity.InquiryActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryOtherActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryCircleActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryVoiceNewActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryVoiceActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryVoiceTwoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryModelActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryModelHistoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryYearActivity" android:screenOrientation="portrait" />
        <activity android:name=".action_content.ExamplesActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquirySortActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.InquirySortNewActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.InquirySortListActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyInquiryListActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyInquiryListDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyOrderQuoteDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquirySortConActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquirySortItemActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryPartsBrandActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.InquiryConsumableActivity" android:screenOrientation="portrait" />

        <activity android:name=".activity.OrderHistoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyOrderActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.MyOrderItemActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.MainMyOrderActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.MyOrderDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyOrderDetailPayActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyOrderQuoteListActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MyOrderQuoteActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.ChatActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.OrderWriteActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PayAlipayActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.CouponActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.UserEvaluateActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.CompanyDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.CompanyCantactActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.WebViewActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.ImageViewActivity" android:screenOrientation="portrait" />

        <activity android:name=".activity.UserInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.UserInfoEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".activity.MenuSystemActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MenuHelpActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MenuUserWalletActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.MenuUserMessageActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators"  />
        <activity android:name=".activity.SelectModeActivity" android:screenOrientation="portrait" android:theme="@style/StyledIndicators"  />


        <!-- alipay sdk begin -->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>


        <!-- 极光   Required SDK核心功能-->
        <activity
                android:name="cn.jpush.android.ui.PushActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.autoparts.buyers"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
                android:name="cn.jpush.android.service.DownloadService"
                android:enabled="true"
                android:exported="false">
        </service>


        <!-- Required SDK 核心功能-->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>

            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!--Required  显示通知栏 -->
                <category android:name="com.autoparts.buyers"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- User defined.    用户自定义的广播接收器-->
        <receiver
                android:name="com.autoparts.buyers.receiver.MyReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.autoparts.buyers"/>
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="d0b734bdb1eff6e7fdf501ec"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--极光推送 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.autoparts.buyers.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true"/>

    <permission
            android:name="android.permission.FLASHLIGHT"
            android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
            android:protectionLevel="normal"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"/>

</manifest>